<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https:ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/css.css">
</head>
<body>

<%if(usuarioLogado){%>
        Usuário Atual: <%=usuarioLogado.nome%>
		<a class="btn btn-primary" href="/logout.html">Sair</a>
    <%}%>

<center>
<div class="container">
  <h3>Lista de Usuários</h3>
    <table  border="2">
      <thead>
        <tr>
		  <th id="tabela">Realizar Login</th>
          <th id="tabela">Nome</th>
          <th id="tabela">E-Mail</th>
        </tr>
      </thead>
      <tbody><td>
        <%
        for (var i in usuarios){
          var usuario = usuarios[i];
        %>
        <tr>
		  <td><center><a class="btn btn-primary" href="/login.html?id=<%=usuario._id%>">logar</a></center></td>
          <td id="tabela"><a href="/detalhes-usuario.html?id=<%=usuario._id%>"><%=usuario.nome%></a></td>
          <td id="tabela"><%=usuario.email%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
	<br>
	<a class="btn btn-primary" href="/cadastro-usuario.html">Cadastrar</a></td>
	
	<br><br>
	<a class="btn btn-primary" href="/index.html">Home</a>
	
</div>
</center>

</body>
</html>
