<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
	<center>
	<h3>Informações: </h3>
	<p>Nome: <%=nome2%></p>
	<p>Matrícula: <%=matricula2%></p>
	<p>Curso: <%=curso%></p>
	<p>E-mail: <%=email2%></p>
	<br><br>
	
	<p>Nome: <%=nome1%></p>
	<p>Matrícula: <%=matricula1%></p>
	<p>Curso: <%=curso%></p>
	<p>E-mail: <%=email1%></p>
	
	<a href="/index.html">HOME</a>
	</center>
  </body>
</html>
