<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https:ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/css.css">
</head>
 <body>
    <%if(usuarioLogado){%>
        Usuário Atual: <%=usuarioLogado.nome%>
		<a class="btn btn-primary" href="/logout.html">Sair</a>
    <%}%>
	<center>
    <h3>Detalhes da Compra</h3>
	
        Nome: <%=compras.nome%><br>
        Valor Base: <%=compras.preco_base%><br>
        Preco: <%=compras.preco%>
             
        <form action="/compras/excluir_compras.html" method="post">
          <input class="btn btn-primary" type="submit" value="Excluir" />
          <input type="hidden" name="id" value="<%=compras._id%>"/>
        </form>

        <form action="/compras/editar_compras.html" method="GET">
          <input class="btn btn-primary" type="submit" value="Editar" />
          <input type="hidden" name="id" value="<%=compras._id%>"/>
        </form>

    
	<br>
    Soma: <%=compras.somaInteresse%>
	
	<br><br>
	<a class="btn btn-primary" href="/index.html">Home</a>
	</center>
</body>
</html>
