<html lang="en">
<head>
  <title>Trabalho 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/css.css">
</head>
<body>
<%if(usuarioLogado){%>
        Usuário Atual: <%=usuarioLogado.nome%>
		<a class="btn btn-primary" href="/logout.html">Sair</a>
    <%}%>
<center>
    <h3>Lista de compras</h3>
    <table border="2">
      <thead>
        <tr>
          <th id="tabela">Compras</th>
          <th id="tabela">Preco</th>
		  <th id="tabela"></th>
        </tr>
      </thead>
      <tbody>
        <%
        for (var i in compras){
          var compra = compras[i];
        %>
        <tr>
          <td id="tabela"><a href="/compras/detalhe_compras.html?id=<%=compra._id%>"><%=compra.nome%></a></td>
          <td id="tabela"><%=compra.preco%></td>
          <%if(usuarioLogado){%>
              <td id="tabela"><a method="GET" href="/compras/atribuirInteresse_compras.html?id=<%=compra._id%>">Tenho Interesse</a></td>
          <%}%>
        </tr>
      <% } %>
      </tbody>
</table>
	<br><br>
	<form action="/compras/nova_compras.html" method="get">
	  <input class="btn btn-primary" type="submit" value="Cadastrar"/>
	</form>
			
	  <a class="btn btn-primary" href="/index.html">Home</a>
</center>
</body>
</html>
